@import '../../config';

.card {
   position: relative;
   cursor: pointer;
   overflow: hidden;
   background-color: #2d3436;
   background-image: linear-gradient(315deg, #1d1e1f 0%, #0a0a0a 74%);
   width: 18vw;
   height: 18vw;
   border: 2px solid #303030;
   border-radius: .2em;

   section {
      @include flex-sa-c;
      flex-direction: column;
      height: 100%;

      p.text {
         font-size: clamp(.8rem, 1.2vw, .9rem);
         border-bottom: 1px solid rgb(14, 152, 233);
         color: rgb(14, 152, 233);
      }

      button {
         background: none;
         border: 2px solid royalblue;
         border-radius: 1em;
         padding: .5em 1.5em;
         transition: .4s;
         cursor: pointer;
   
         label {
            font-weight: 700;
            text-transform: uppercase;
            color: royalblue;
            font-size: clamp(.6rem, 2vw, .8rem);
            pointer-events: none;
         }

         &:hover {
            border-radius: .2em;
            background: rgb(35, 57, 122);
            box-shadow: 0 0 2px blue, 0 0 4px blue;
            label { color: white; }
         }
      }

      h2 {
         font-family: 'Hubbali', cursive;
         font-size: clamp(1rem, 1.6vw, 1.5rem);
      }

      ul {
         list-style: none;

         li {
            font-size: clamp(.8rem, 1.2vw, 1rem);
            svg {
               margin-right: 1em;
            }
         }
      }
   }
   
   figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      transition: .8s;

      span.enter-icon {
         position: absolute;
         right: 0;
         bottom: 0;
         background: #303030d2;
         display: flex;

         svg { width: 25px; height: 25px; }
      }

      img { @include abs-50-50; }
   }

   &:hover {
      figure {
         transform: translateX(-110%);
      }
   }
}

@media (max-width: 1024px) {
   .card {
      width: 31vw;
      height: 31vw;
   }
}

@media (max-width: 768px) {
   .card {
      p.text { display: none; }
   }
}

@media (max-width: 480px) {
   .card {
      width: 300px;
      max-width: 95%;
      height: 300px;
      max-height: 90vw;
      margin-bottom: 1em;

      section {
         p.text {
            display: block;
         }

         button {
            label {
               font-size: .8rem;
            }
         }

         h2 {
            font-size: 1.5rem;
         }
      }
   }
}