// font-family: 'Hubballi', cursive;
// font-family: 'Manrope', sans-serif;

@import './config';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-weight: 300;
   scroll-behavior: smooth;
}

div.App { overflow-x: hidden; }

body {
   font-family: 'Manrope', sans-serif;
   min-height: 100vh;
   overflow-x: hidden;
   background: rgb(23,23,23);
   color: white;

   &::-webkit-scrollbar {
      width: 3px;
      background: black;
   }

   &::-webkit-scrollbar-thumb {
      width: 100%;
      background: royalblue;
   }
}

.arrowup {
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   bottom: -100%;
   background: orangered;
   width: 45px;
   height: 20px;
   @include flex-c-c;
   z-index: 999999;
   border-radius: 50% 50% 0 0;
   cursor: pointer;
   transition: 1s;
   pointer-events: none;

   &:hover {
      background: orange;
   }

   svg { width: 25px; height: 25px; }
}

.moveFromLeft {
   animation: moveFromLeft 2s;
   animation-fill-mode: forwards;

   @keyframes moveFromLeft {
      0% { transform: translateX(-150%); }
      100% { transform: translateX(0); }
   }
}

.moveFromRight {
   animation: moveFromRight 2s;
   animation-fill-mode: forwards;
   
   @keyframes moveFromRight {
      0% { transform: translateX(150%); }
      100% { transform: translateX(0); }
   }
}


/*
   @media (max-width: 1200px) {

   }

   @media (max-width: 1024px) {

   }

   @media (max-width: 768px) {

   }

   @media (max-width: 480px) {

   }
*/