.card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #1d1e1f 0%, #0a0a0a 74%);
  width: 18vw;
  height: 18vw;
  border: 2px solid #303030;
  border-radius: .2em;
}

.card section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.card section p.text {
  font-size: clamp(0.8rem, 1.2vw, 0.9rem);
  border-bottom: 1px solid #0e98e9;
  color: #0e98e9;
}

.card section button {
  background: none;
  border: 2px solid royalblue;
  border-radius: 1em;
  padding: .5em 1.5em;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.card section button label {
  font-weight: 700;
  text-transform: uppercase;
  color: royalblue;
  font-size: clamp(0.6rem, 2vw, 0.8rem);
  pointer-events: none;
}

.card section button:hover {
  border-radius: .2em;
  background: #23397a;
  -webkit-box-shadow: 0 0 2px blue, 0 0 4px blue;
          box-shadow: 0 0 2px blue, 0 0 4px blue;
}

.card section button:hover label {
  color: white;
}

.card section h2 {
  font-family: 'Hubbali', cursive;
  font-size: clamp(1rem, 1.6vw, 1.5rem);
}

.card section ul {
  list-style: none;
}

.card section ul li {
  font-size: clamp(0.8rem, 1.2vw, 1rem);
}

.card section ul li svg {
  margin-right: 1em;
}

.card figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.card figure span.enter-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #303030d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card figure span.enter-icon svg {
  width: 25px;
  height: 25px;
}

.card figure img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card:hover figure {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
}

@media (max-width: 1024px) {
  .card {
    width: 31vw;
    height: 31vw;
  }
}

@media (max-width: 768px) {
  .card p.text {
    display: none;
  }
}

@media (max-width: 480px) {
  .card {
    width: 300px;
    max-width: 95%;
    height: 300px;
    max-height: 90vw;
    margin-bottom: 1em;
  }
  .card section p.text {
    display: block;
  }
  .card section button label {
    font-size: .8rem;
  }
  .card section h2 {
    font-size: 1.5rem;
  }
}
