footer {
  background: #080808;
  border-top: 2px solid #575757;
}

footer section.infos {
  background: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 0;
}

footer section.infos .logo,
footer section.infos .contact,
footer section.infos .subscribe {
  width: 22%;
}

footer section.infos .logo figure {
  height: 75px;
}

footer section.infos .logo figure img {
  height: 100%;
}

footer section.infos .logo p {
  color: #808080;
  font-size: clamp(1rem, 4vw, 1.1rem);
  font-family: 'Hubballi', cursive;
  margin: 1em 0 1.5em 0;
}

footer section.infos .logo ol {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer section.infos .logo ol li svg {
  width: 25px;
  height: 25px;
  color: #909090;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

footer section.infos .logo ol li:nth-child(1) :hover {
  color: royalblue;
}

footer section.infos .logo ol li:nth-child(2) :hover {
  color: cornflowerblue;
}

footer section.infos .logo ol li:nth-child(3) :hover {
  color: #4400ff;
}

footer section.infos .logo ol li:nth-child(4) :hover {
  color: brown;
}

footer section.infos ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
}

footer section.infos ul li.first-li {
  font-size: 1.6rem;
  font-weight: 700;
  pointer-events: none;
  margin-bottom: .1em;
}

footer section.infos ul li:not(.first-li) {
  color: #959595;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  font-size: .95rem;
  margin-bottom: .3em;
  font-weight: 400;
}

footer section.infos ul li:not(.first-li):hover {
  color: royalblue;
}

footer section.infos .contact h3 {
  font-family: 'Hubballi', cursive;
  font-size: 1.1rem;
  color: #959595;
  border-bottom: 1px solid #959595;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: .5em;
}

footer section.infos .contact p {
  background: #090909;
  padding: 1em .5em;
  margin-bottom: .1em;
  font-size: .85rem;
}

footer section.infos .subscribe h4 {
  text-align: center;
  font-family: 'Hubballi', cursive;
  font-size: 1.2rem;
  color: #a3a3a3;
}

footer section.infos .subscribe p {
  margin: 1em 0;
  font-size: .85rem;
  color: #c7c7c7;
}

footer section.infos .subscribe div {
  position: relative;
}

footer section.infos .subscribe div button {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  outline: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

footer section.infos .subscribe div button label {
  font-weight: 700;
  color: orangered;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  font-size: 1rem;
}

footer section.infos .subscribe div button:hover label {
  color: royalblue;
}

footer section.infos .subscribe div input {
  width: 100%;
  background: none;
  border: 2px solid orangered;
  padding: 1em .5em;
  border-radius: .25em;
  outline: 0;
  color: #858585;
  font-family: 'Hubballi', cursive;
  font-size: 1.1rem;
}

footer section.paragraphs {
  padding: 3em 1em;
  background: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer section.paragraphs p {
  font-weight: 700;
  color: #505050;
}

@media (max-width: 1024px) {
  footer section.infos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer section.infos .logo,
  footer section.infos .contact,
  footer section.infos .subscribe {
    width: 450px;
    max-width: 95%;
    margin-bottom: 3em;
  }
  footer section.infos ul {
    margin-bottom: 3em;
  }
  footer section.infos .logo figure img {
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 480px) {
  footer section.infos .logo p {
    text-align: center;
  }
  footer section.infos .subscribe p {
    text-align: center;
  }
}
