nav.layout-nav {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #171717), color-stop(81%, #161616));
  background: linear-gradient(90deg, #171717 50%, #161616 81%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 1em;
  height: 65px;
  position: relative;
}

nav.layout-nav figure.nav-logo {
  width: clamp(40px, 10vw, 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.layout-nav figure.nav-logo img {
  width: 100%;
}

nav.layout-nav ol.links,
nav.layout-nav ul.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav.layout-nav ol.links li,
nav.layout-nav ul.icons li {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0 .5em;
  position: relative;
}

nav.layout-nav section.search-outer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.layout-nav section.search-outer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.layout-nav section.search-outer svg {
  width: 20px;
  pointer-events: none;
  height: 20px;
}

nav.layout-nav section.search-outer input {
  border-radius: .2em;
  border: 1px solid #1F75FE;
  background: #161616;
  color: #1F75FE;
  text-transform: uppercase;
  font-family: 'Hubballi', cursive;
  padding: .5em;
  outline: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

nav.layout-nav ol.links li {
  font-weight: 600;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

nav.layout-nav ol.links li::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #1F75FE;
  -webkit-transition: .3s;
  transition: .3s;
}

nav.layout-nav ol.links li:hover {
  color: #1F75FE;
}

nav.layout-nav ol.links li:hover::before {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

nav.layout-nav ul.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.layout-nav ul.icons li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.layout-nav ul.icons li:hover {
  color: #1F75FE;
}

nav.layout-nav ul.icons li.datahover::before {
  content: attr(data-text);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
  padding: .2em;
  font-size: .8rem;
  background: #353535;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-family: 'Hubballi', cursive;
  white-space: nowrap;
  color: white;
}

nav.layout-nav ul.icons li.datahover:hover::before {
  opacity: 1;
}

nav.layout-nav ul.icons li.cart span {
  position: absolute;
  left: 80%;
  bottom: 80%;
  width: clamp(15px, 4vw, 18px);
  height: clamp(15px, 4vw, 18px);
  border: 1px solid red;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(0.6rem, 2vw, 0.75rem);
  color: white;
}

nav.layout-nav ul.icons li.menu {
  width: 20px;
  height: 16px;
}

nav.layout-nav ul.icons li.menu span {
  width: 100%;
  height: 1.5px;
  position: absolute;
  left: 0;
  background: white;
  pointer-events: none;
  -webkit-transition: .4s;
  transition: .4s;
}

nav.layout-nav ul.icons li.menu span:nth-child(1) {
  top: 0%;
}

nav.layout-nav ul.icons li.menu span:nth-child(2) {
  top: 50%;
}

nav.layout-nav ul.icons li.menu span:nth-child(3) {
  top: 100%;
}

nav.layout-nav ul.icons svg {
  width: clamp(15px, 5vw, 25px);
  height: clamp(15px, 5vw, 25px);
}

@media (max-width: 768px) {
  nav.layout-nav section.search-outer input {
    width: 0;
    padding: 0em;
    border: 0;
  }
}

@media (max-width: 480px) {
  nav.layout-nav ul.icons li.datahover {
    display: none;
  }
  nav.layout-nav ol.links li:last-child {
    display: none;
  }
}
