aside.nav-menu {
  background: #252525;
  border: 1px solid #404040;
  position: absolute;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  top: 100%;
  height: calc(100vh - 67px);
  width: 320px;
  max-width: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  z-index: 999;
  font-size: clamp(0.9rem, 4vw, 1rem);
}

aside.nav-menu ul {
  list-style: none;
}

aside.nav-menu ul li {
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  background: #252525;
}

aside.nav-menu ul li:not(.expand) {
  padding: 1em;
}

aside.nav-menu ul li svg {
  margin-right: 1em;
  width: 20px;
  height: 20px;
}

aside.nav-menu ul li:hover {
  background: #303030;
}

aside.nav-menu ul li.expand {
  position: relative;
  display: block;
}

aside.nav-menu ul li.expand ol {
  overflow: hidden;
  height: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

aside.nav-menu ul li.expand ol li {
  padding: 1em 3em;
  background: #212121;
}

aside.nav-menu ul li.expand ol li:hover {
  background: #303030;
}

aside.nav-menu ul li.expand div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  pointer-events: none;
  padding: 1em;
}

aside.nav-menu ul li.expand div svg:last-child {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

aside.nav-menu figure {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1f1f1f;
  border-bottom: 1px solid #404040;
}

aside.nav-menu figure img {
  height: 80%;
  display: block;
}
