.slider-container {
  height: 100vh;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  position: relative;
  padding-top: 2em;
}

.slider-container section.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-container h1 {
  text-align: center;
  border-bottom: 1px solid royalblue;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 2em auto;
  font-size: clamp(1rem, 5vw, 2.5rem);
  color: royalblue;
  font-weight: 100;
  padding-bottom: .2em;
  text-shadow: 0 0 2px #505050, 0 0 4px #505050;
  border-radius: .5em;
  position: relative;
  z-index: 1;
}

.slider-container h1 span.titleline {
  width: 120%;
  height: 2px;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #151515;
  z-index: -2;
}

.slider-container h1 span.color {
  color: #e74f17;
}

.slider-container figure.slider-figure {
  width: 45%;
  height: 26.5vw;
  border: 1px solid #acacac;
  position: relative;
  border-radius: 1em;
}

.slider-container figure.slider-figure section {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
}

.slider-container figure.slider-figure section div {
  width: clamp(15px, 5vw, 20px);
  height: clamp(15px, 5vw, 20px);
  background: #3e5f72;
  border: 1px solid #005688;
  border-radius: 50%;
  margin: 0 .5em;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider-container figure.slider-figure section div:hover {
  background: #0072b4;
}

.slider-container figure.slider-figure section div.active {
  background: #9e4322;
  pointer-events: none;
}

.slider-container figure.slider-figure span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider-container figure.slider-figure span svg {
  width: 25px;
  height: 25px;
  -webkit-transition: .3s;
  transition: .3s;
  pointer-events: none;
}

.slider-container figure.slider-figure span:hover {
  background: #303030;
}

.slider-container figure.slider-figure span:hover svg {
  color: royalblue;
}

.slider-container figure.slider-figure span:first-of-type {
  right: 100%;
  border-radius: 1em 0 0 1em;
}

.slider-container figure.slider-figure span:last-of-type {
  left: 100%;
  border-radius: 0 1em 1em 0;
}

.slider-container figure.slider-figure div.figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1em;
}

.slider-container figure.slider-figure div.figure div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-container figure.slider-figure div.figure div img {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.slider-container article {
  width: 40%;
}

.slider-container article figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #202020;
  border-radius: 5em;
  padding-bottom: 1em;
}

.slider-container article figure figcaption {
  font-size: clamp(1rem, 2vw, 1.8rem);
  font-family: 'Hubballi', cursive;
  color: goldenrod;
  text-transform: uppercase;
  text-shadow: 0 0 2px gold, 0 0 4px gold;
}

.slider-container article figure img {
  height: 6vw;
  min-height: 50px;
}

.slider-container article p {
  margin: 2em 0;
  font-family: 'Hubbali', cursive;
  color: #707070;
  text-align: center;
}

.slider-container article section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-container article section span {
  margin: 0 .25em;
  cursor: pointer;
  position: relative;
}

.slider-container article section span::before, .slider-container article section span::after {
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  left: 50%;
  background: #303030;
  opacity: 0;
  pointer-events: none;
}

.slider-container article section span::before {
  content: attr(data-text);
  top: 115%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: .3em .5em;
  border-radius: .5em;
  z-index: 9;
}

.slider-container article section span::after {
  content: '';
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(70%) rotate(45deg);
          transform: translateX(-50%) translateY(70%) rotate(45deg);
  bottom: -15%;
  width: 20px;
  height: 20px;
}

.slider-container article section span svg {
  width: 35px;
  height: 35px;
  color: #858585;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider-container article section span:hover svg {
  -webkit-filter: drop-shadow(0 0 2px goldenrod);
          filter: drop-shadow(0 0 2px goldenrod);
}

.slider-container article section span:hover::before, .slider-container article section span:hover:after {
  opacity: 1;
}

@media (max-width: 1024px) {
  .slider-container {
    height: auto;
  }
  .slider-container section.wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider-container figure.slider-figure {
    margin-bottom: 3em;
    width: 65%;
    min-width: 230px;
    height: 37vw;
    min-height: 150px;
  }
  .slider-container article {
    width: 95%;
  }
}
